html
    head
        title component
        link(rel="stylesheet" , href="custom.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" )
    body
        div.container
            each product in products
                div.item
                    img(src="https://image.thanhnien.vn/1080/uploaded/chauyen/2020_03_30/meoc_lyyo.jpeg", alt="").image
                    div.infor 
                        div Name: #{product.name}
                        div desciption: #{product.description}
                        div price: #{product.price}
                    button add to cart
        nav(aria-label='Page navigation example')
        ul.pagination
            li.page-item
            a.page-link(href='/?page'+ pages[0])  Previous
            li.page-item
            a.page-link(href='/?page='+pages[1]) #{pages[1]}
            li.page-item
            a.page-link(href='/?page='+pages[2]) #{pages[2]}
            li.page-item
            a.page-link(href='/?page='+pages[3]) #{pages[3]}
            li.page-item
            a.page-link(href='/?page='+pages[2]) Next
